.content {
    &__item {
        justify-content: center;
        display: none;

        p,
        button {
            margin-bottom: 10px;
        }
    }

    .memory-game,
    .whack-a-mole,
    .connect-four {
        &__root {
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            margin: 10px 0;

            div {
                border: 1px solid black;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }

    .whack-a-mole {
        img {
            display: none;
        }

        .mole {
            img {
                display: block;
            }
        }
    }

    .connect-four {
        &__root {
            div {
                height: 42px;
                width: 42px;
            }
        }

        .player-one,
        .player-two {
            border-radius: 10px;
        }

        .player-one {
            background-color: red;
        }

        .player-two {
            background-color: blue;
        }
    }
}
