.content {
    display: flex;
    justify-content: center;

    &__item {
        display: none;
        width: 300px;
    }

    .memory-game,
    .whack-a-mole {
        &__root {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;

            div {
                border: 1px solid black;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }

    .whack-a-mole {
        img {
            display: none;
        }

        .mole {
            img {
                display: block;
            }
        }
    }

    .connect-four {
        &__root {
            height: 255px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 10px 0;
            border: 1px solid black;

            div {
                height: 42px;
                width: 42px;
                border-radius: 50%;
                background: #fafafa;
                cursor: pointer;
            }

            .taken {
                background: none;
                cursor: auto;
            }
        }

        .player-one {
            background: linear-gradient(to bottom, #eb1515 0%, #ad0505 100%);
        }

        .player-two {
            background: linear-gradient(to bottom, rgb(68, 68, 68) 0%, #000000 100%);
        }
    }

    .snake {
        width: 302px;

        &__root {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            border: 1px solid black;

            div {
                width: 30px;
                height: 30px;
                border: 1px solid black;
            }
        }

        .snake {
            background: linear-gradient(to bottom, rgb(68, 68, 68) 0%, #000000 100%);
        }

        .apple {
            background: linear-gradient(to bottom, #eb1515 0%, #ad0505 100%);
        }
    }

    .space-invaders {
        width: 302px;

        &__root {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            border: 1px solid black;

            div {
                width: 20px;
                height: 20px;
            }
        }

        .shooter {
            background-color: blue;
        }

        .invader {
            background-color: purple;
            border-radius: 10px;
        }

        .laser {
            background-color: orange;
        }

        .boom {
            background-color: red;
        }
    }
}
