.content {
    &__item {
        display: flex;
        justify-content: center;
    }

    .memory-game {
        p, button {
            margin-bottom: 10px;
        }

        &__root {
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            margin: 10px 0;

            div {
                border: 1px solid black;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }
    }
}
