.content
    .content__item.memory-game
        .memory-game__wrapper
            button.content__button#memory-game__button Start
            p Find two identical images
            p Score: 
                span#memory-game__result 0
            p#memory-game__alert Let's get started!
            .memory-game__root
    .content__item.whack-a-mole
        .whack-a-mole__wrapper
            button.content__button#whack-a-mole__button Start
            p Hit the mole as many times as possible
            p Score: 
                span#whack-a-mole__result 0
            p Seconds left: 
                span#whack-a-mole__time 60
            .whack-a-mole__root
    .content__item.connect-four
        .connect-four__wrapper
            button.content__button#connect-four__button Start
            p Form a horizontal, vertical, or diagonal line of four of one's own discs. Start at the bottom line
            p The current Player is: Player 
                span#connect-four__player 1
            p#connect-four__alert Let's get started!
            .connect-four__root
    .content__item.snake
        .snake__wrapper
            button.content__button#snake__button Start
            p Help the snake get the apple
            p Score: 
                span#snake__result 0
            p#snake__alert Let's get started!
            .snake__root
    .content__item.space-invaders
        .space-invaders__wrapper
            button.content__button#space-invaders__button Start
            p Shoot down as many alien invaders before they get to you
            p Score: 
                span#space-invaders__result 0
            p#space-invaders__alert Let's get started!
            .space-invaders__root
    .content__item.frogger
        .frogger__wrapper
            button.content__button#frogger__button Start
            p Direct a frog to its home by crossing a busy road and navigating a river by jumping on logs
            p Score: 
                span#frogger__result 0
            p Seconds left: 
                span#frogger__time 20
            p#frogger__alert Let's get started!
            .frogger__root