.content
    .content__item.memory-game
        .memory-game__wrapper
            button.content__button#memory-game__button Start
            p Find two identical images
            p Score: 
                span#memory-game__result 0
            p#memory-game__alert Let's get started!
            .memory-game__root
    .content__item.whack-a-mole
        .whack-a-mole__wrapper
            button.content__button#whack-a-mole__button Start
            p Hit the mole as many times as possible
            p Score: 
                span#whack-a-mole__result 0
            p Seconds left: 
                span#whack-a-mole__time 60
            .whack-a-mole__root
    .content__item.connect-four
        .connect-four__wrapper
            button.content__button#connect-four__button Start
            p Form a horizontal, vertical, or diagonal line of four of one's own discs. Start at the bottom line
            p The current Player is: Player 
                span#connect-four__player 1
            p#connect-four__alert Let's get started!
            .connect-four__root