.content
    .content__item.memory-game
        .memory-game__wrapper
            button.content__button#memory-game__button Start game
            p Score: 
                span#memory-game__result 0
            p#memory-game__alert Flip two cards
            .memory-game__root
    .content__item.whack-a-mole
        .whack-a-mole__wrapper
            button.content__button#whack-a-mole__button Start game
            p Score: 
                span#whack-a-mole__result 0
            p Seconds left: 
                span#whack-a-mole__time 60
            .whack-a-mole__root