.content
    .content__item.memory-game
        .memory-game__wrapper
            button#memory-game__button New game
            p#memory-game__alert Flip two cards
            p Score: 
                span#memory-game__result 0
            .memory-game__root