.hero
    h2.hero__title Choose your fighter
        svg(width='20px' height='20px')
            use(xlink:href='./assets/icons/sprite.svg#arrow-up')
    ul 
        li(data-type='memory-game') Memory Game
            svg(width='20px' height='20px')
                use(xlink:href='./assets/icons/sprite.svg#arrow-up')