.hero
    h2.hero__title Choose your fighter
        svg(width='20px' height='20px')
            use(xlink:href='./assets/icons/sprite.svg#arrow-up')
    ul 
        li(data-type='memory-game') Memory Game
            svg(width='12px' height='12px')
                use(xlink:href='./assets/icons/sprite.svg#arrow-up')
        li(data-type='whack-a-mole') Whack a Mole
            svg(width='12px' height='12px')
                use(xlink:href='./assets/icons/sprite.svg#arrow-up')
        li(data-type='connect-four') Connect Four
            svg(width='12px' height='12px')
                use(xlink:href='./assets/icons/sprite.svg#arrow-up')